@import'./var';
@mixin max {
    transform: scale3d(1.3,1.3,1);
    transition: all .3s;
    
}
@mixin btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
@mixin flex () {
    display: flex;
    justify-content:$nul;
    flex-wrap: $nul;
    flex-direction: $nul;
}
@mixin labl{
    width: 50px;
    height: 26px;
    border-radius: 4px;
    text-align: center;
    color: #ffff;
    background-color: $down;
}